<div >
    <div class="card">
      <img [src]="product.imageUrl" class="card-img-top bg-primary" [alt]="alter">
      <div class="card-body">
        <h5 class="card-title">{{product.title | uppercase}}</h5>
        <p class="card-text">{{product.description}}</p>
        <h6>Price:{{product.price}}</h6>
        <a class="btn btn-primary mr-3" (click)="viewDetails(product.id)">View Details</a>
        <a href="#" *ngIf="!product.isAvailable" class="btn btn-primary" (click)="addToCart()">Add To Cart</a>        
      </div>
    </div>
  </div>
  <!-- <p>{{product | json}}</p> -->
